@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins:wght@100&family=Ubuntu&display=swap');


@keyframes moveupdown {
    0%{
        transform: translateY(0);
    }
    25%{
        transform: translateY(10px);
    }
    50%{
        transform: translateY(0);
    }
    75%{
        transform: translateY(-10px);
    }
    100%{
        transform: translateY(0px);
    }
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

html{
    font-family: Poppins , montserrat , 'sans serif';
    font-size: 10px;
}

.hero-title{
    margin-bottom: 2rem;
}


.main{
    display: flex;
    min-height: 100vh;
    /* height: 100vh;
    width: 100vw; */
    overflow: hidden;
}

.right{
    flex: 0 0 75%;
    background-color: black;
    color: white;


    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    

}
.left{
    flex: 0 0 25%;
    background-image: linear-gradient(to right bottom , #39b396 , #143f35);
    padding: 0 2rem;
    position: relative;
    transition: all 0.3s ease;
    



    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    flex-direction: column;
    color: white;

}

.new{
    font-size: 3rem;
    text-align: center;
}

.new-para{
    font-size: 1.5rem;
    text-align: center;
}

.button{
    background-color: transparent;
    outline: none;
    border: none;
    padding: 0.5rem 3rem;
    margin-top: 1rem;
    font-size: 1.5rem;
    background-color: white;
    border-radius: 50px;
    font-family: Montserrat , 'sans serif';
    transition: all 0.3s ease;
    text-transform: uppercase;
    width: 20rem;
}

.button:hover{
    transform: translateY(-2px);
}
.button:active{
    transform: translateY(1px);
    box-shadow: 0 1rem 20px rgba(0, 0, 0, 0.434);

}
/* =====================================landing page ==============================*/

.right-landing{
    display: flex;
    justify-content:space-around;
    width: 100%;
    align-items: center;
    margin-bottom: 5rem;
    padding: 2rem;
}

.landingimg{
    width: 60rem;
    animation: moveupdown 3s infinite linear;
}

.right-left{
    font-size: 1.7rem;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* ====================================Form==================================================== */

.login-form{
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    width: 30%;
    align-items: center;






}




.input{
    margin:  .5rem 0;
    padding: .5rem;
    border-radius: 5px;
}
.input:focus{
    outline: none;
}


.button-green{
    background-color: #38af93;
    color: white;
}







.signup-div{
    display: none !important;

}



.close::before{
        content: "";
        display: inline-block;
        height: 0.4rem;
        width: 4rem;
        background-color: white;
        position: absolute;
        top: 4rem;
        right: 4rem;
        transform:rotate(45deg);
}

.close::after{
    content: "";
        display: inline-block;
        height: 0.4rem;
        width: 4rem;
        background-color: white;
        position: absolute;
        top: 4rem;
        right: 4rem;
        transform:rotate(-45deg);
}


/* =============================logo=========================== */

.logo-div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 0 auto;
    position: absolute;
    top: 2rem;
    
    

}

.logo{
    width: 5rem;
    margin-right: 1.5rem;
}

.title{
    font-weight: bolder;
    
}
.cwhite{
    color: white;
}

.corange{
    background-color: orange;
    color: black;
    padding: 4px;
    border-radius: 3px;
    font-family: monteserrat , poppins , sans-serif;
}


.link{
    text-decoration: none;
    transition: all 0.3s ease;
    color: rgb(47, 46, 46);

}


/* /* ===============================Toggle Password ================================ */

.input-group {
  position: relative;

}

.form-control{
    position: relative;
}

/* suppress IE >= 10 native functionality that can show password */
  .input-group {
    position: relative;
  width: 156%;
  }
  .toggle {
    background: none;
    border: none;
    color: rgb(93, 91, 91);
    font-weight: 600;
    position: absolute;
    right: 1rem;
    top: 1.35rem;
    z-index: 9;
  }
  
  #eyeIcon{
    font-size: 1.5rem;

  }

  

/*==================================Media Queries =========================== */




@media screen and (max-width: 1200px){
    .landingimg{
        width: 35rem;
    }
    .right-landing{
        justify-content: space-evenly;
        
    }
 
    
}



@media screen and (max-width: 760px){




    .signup-div{
        display: block !important;
        padding: 3rem;
        
    }
    .sign-up-form{
       transform: translateY(0) !important;
    }

    .left-content{
        display: none !important;
    }

    html{
        font-size: 8px !important;
    }

    body{
        background-color: black;
    }


    .main{
        flex-direction:column-reverse;
        position: relative;
     
    }
    .left{
        position:initial !important;
        width: auto;
    }

    .right{
        /* transform:translateY(-14rem); */
    }

    .right-landing{
        flex-direction: column-reverse;
        padding-top: 8rem;
    }

    .landingimg{
        width: 90%;
    }

    .close{
        display: none;
    }


}


@media screen and (max-width:506px) {
    .hero-title{
        font-size: 2.4rem;
    }
    
    .new-para{
        font-size: 1.8rem;
    }
    
}

@media (max-width:400px) {

    
    .right{
        height: 100%;
    }
    .right-landing{
        flex-direction: column-reverse; 
    }
  

    .landingimg{
        width: 30rem;
    }

    .new{
        font-size: 2.5rem;
    }

    
    
}





