<!DOCTYPE html>
<html lang="en">
<he>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Note</title>
    <link rel="stylesheet" href="/style/new.css">
    <link rel="stylesheet" href="/style/utility.css">
</he>

<body>

    <main class="main-new">
        
            <div>saket sonii hasoihfdafdskjnfdsakn</div>
        
    </main>
</body>

</html>