<!DOCTYPE html>
<html lang="en">
<he>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>New Note</title>
  <link rel="stylesheet" href="/style/new.css">
  <link rel="stylesheet" href="/style/utility.css">
  <link rel="shortcut icon" href="/img/favicon.png" type="image/png">

</he>

<body>

  <main class="main-new">
    <form action="/new" method="POST">
      <div class="logo-div">
        <img class="logo" src="img/logo.png" alt="" />
        <h1 class="title">
          <span class="cwhite">Note</span> <span class="corange">Hub</span>
        </h1>
      </div>
      <h1 class="title-note">Create Your New Note!</h1>
      <input type="text" name="title" id=" " class="title-input" placeholder="Title" required>
      <textarea name="note" id="" cols="30" rows="10" class="textarea" placeholder="Your Note Here" required></textarea>
      <div class="wrap">
        <button class="button">Save Note!</button>
      </div>
    </form>
  </main>
</body>

</html>