.button-shadow-white{
    box-shadow: 0 1rem 40px rgba(255, 255, 255, 0.4);
}
.button-shadow-white:active{
    box-shadow: 0 1rem 30px rgba(255, 255, 255, 0.4);
}

.button-shadow-black{
    box-shadow: 0 1rem 40px rgba(0, 0, 0, 0.434);
}

.button-shadow-black:active{
    box-shadow: 0 1rem 10px rgba(0, 0, 0, 0.434);

}

.heading{
    text-transform: uppercase;
    font-family: Montserrat, 'sans-serif';
    font-weight: bolder;
    margin-bottom: 2rem;
}

.flexbox{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    transition: all 0.3s ease;
}


.hide-left{
    transform: translateX(-100rem);
}

.big{
   margin-bottom: -2rem;
    display: block;
    font-size: 3rem;
    text-align: center;
}

.up{
    transform: translateY(-3rem)
}